%section#top-header.row
  .col-md-2
    %div#print-masthead
      %a{ :href => '#'}
        %img.print-bkg-image{ :src => 'http://s3-media2.fl.yelpcdn.com/assets/2/www/img/b7e9d647188d/gfx/header_print.gif', :alt => 'Yelp'}
    %span#page-content.offscreen &nbsp;
  .row
    .col-md-8.clearfix
      = form_tag root_path, class: 'for-search', method: :get do
        = text_field_tag :find_desc, params[:find_desc], class: 'col-md-2 search-query', placeholder: "Find tacos, cheap dinner, Max's, etc", maxlength: 64
        = text_field_tag :location, params[:location], class: 'col-md-2 search-query', placeholder: "Near 12828"
        = submit_tag "Search", class: 'btn btn-default', name: nil
      .row
        .col-md-12.clearfix
          = link_to "Home"
          = link_to "About Me"
          = link_to "Write a Review"
          = link_to "Find Friends"
          /= form_tag search_videos_path, class: 'col-md-5 for-search', method: :get do
          /= text_field_tag :title, params[:title], class: 'search-query', placeholder: "Search for videos"
          /= submit_tag 'Search', class: 'btn btn-default', name: nil
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            /Welcome, #{current_user.name}
            Welcome Chris!
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              %a(href="#") About Me
              %a(href="#") Account Settings
              %br
              %a(href="#") Log Out
              /= link_to "Sign Out", sign_out_path
